// --------------------------------------
// Header
// --------------------------------------

$header-logo-width: 94px;
$header-logo-height: 85px;

.main-navigation {
    
    position: relative;
    width: 625px;
    padding-top: 70px;
    overflow: visible;
    z-index: 2;
    margin: 0 auto;
    
    .menu {
        width: 100%;
        overflow: visible;
        position: relative;
    }
    
    .menu-item {
        overflow: visible;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 2px;
    }
    
    .menu-item-hero {
        width: $header-logo-width;
        height: $header-logo-height;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -($header-logo-width / 2);
        margin-top: -($header-logo-height / 2);
        
        a {
            display: block;
            width: 100%;
            height: 100%;
            background: url(../images/logo.png) center center;
            @include image-replace();
            
            &:hover { @include image-replace(); }
        }
    }
    
    a {
        display: block;
        color: $plum-01;
        text-align: center;
        text-decoration: none;
        
        &:hover { color: $green-01; }
    }
}