/* line 1, ../../../dev/css/pages/sections/_hero.scss */
.section-hero {
  height: 800px;
  background: #d6d2db;
}
/* line 5, ../../../dev/css/pages/sections/_hero.scss */
.section-hero .hero-background {
  display: block;
  position: absolute;
  width: 1600px;
  height: 100%;
  top: 0;
  left: 50%;
  margin-left: -800px;
  background: url(../../images/bg-hero.png) center top no-repeat;
  z-index: 1;
}
/* line 16, ../../../dev/css/pages/sections/_hero.scss */
.section-hero .hero-background:before, .section-hero .hero-background:after {
  content: '';
  display: block;
  position: absolute;
  width: 200px;
  height: 100%;
  top: 0;
}
/* line 26, ../../../dev/css/pages/sections/_hero.scss */
.section-hero .hero-background:before {
  left: 0;
  background-image: -webkit-linear-gradient(right, rgba(214, 210, 219, 0) 0%, #d6d2db 100%);
  background-image: linear-gradient(right, rgba(214, 210, 219, 0) 0%, #d6d2db 100%);
}
/* line 31, ../../../dev/css/pages/sections/_hero.scss */
.section-hero .hero-background:after {
  right: 0;
  background-image: -webkit-linear-gradient(left, rgba(214, 210, 219, 0) 0%, #d6d2db 100%);
  background-image: linear-gradient(left, rgba(214, 210, 219, 0) 0%, #d6d2db 100%);
}

/* line 4, ../../../dev/css/pages/sections/_about.scss */
.section-about {
  background: #f7f7f7;
  text-align: center;
}
/* line 8, ../../../dev/css/pages/sections/_about.scss */
.section-about .section-logo {
  display: block;
  width: 52px;
  height: 43px;
  margin: 0 auto 30px;
  background: url(../../images/icon-about.png) center center;
}
/* line 16, ../../../dev/css/pages/sections/_about.scss */
.section-about .subheadline {
  margin: 0 0 30px;
  color: #353738;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
/* line 25, ../../../dev/css/pages/sections/_about.scss */
.section-about .copy {
  color: #848789;
  font-size: 18px;
  line-height: 34px;
  margin: 0 0 30px;
}

/* line 16, ../../../dev/css/pages/sections/_work.scss */
.section-work .height-1 {
  height: 200px;
}
/* line 17, ../../../dev/css/pages/sections/_work.scss */
.section-work .height-2 {
  height: 400px;
}
/* line 18, ../../../dev/css/pages/sections/_work.scss */
.section-work .height-3 {
  height: 600px;
}
/* line 20, ../../../dev/css/pages/sections/_work.scss */
.section-work .section-item-logo {
  display: block;
}
/* line 23, ../../../dev/css/pages/sections/_work.scss */
.section-work .has-content:before {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  content: '';
  left: 50%;
  bottom: -20px;
  margin-left: -20px;
  z-index: 2;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff;
}
/* line 39, ../../../dev/css/pages/sections/_work.scss */
.section-work .has-content .section-item-logo {
  margin: 0 auto 30px;
}
/* line 42, ../../../dev/css/pages/sections/_work.scss */
.section-work .no-content .section-item-logo {
  position: absolute;
  top: 50%;
  left: 50%;
}
/* line 48, ../../../dev/css/pages/sections/_work.scss */
.section-work .section-item-content {
  padding-top: 70px;
  margin: 0 auto;
}
/* line 53, ../../../dev/css/pages/sections/_work.scss */
.section-work .subsection-headline {
  margin: 0 0 20px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}
/* line 62, ../../../dev/css/pages/sections/_work.scss */
.section-work .copy {
  color: #848789;
  font-size: 16px;
  line-height: 30px;
  text-align: justify;
}
/* line 69, ../../../dev/css/pages/sections/_work.scss */
.section-work .section-item-bicycle-company {
  background: url(../../images/work-01.jpg) center center;
}
/* line 73, ../../../dev/css/pages/sections/_work.scss */
.section-work .section-item-logo-bicycle-company {
  width: 113px;
  height: 118px;
  margin-top: -59px;
  margin-left: -56.5px;
  background: url(../../images/icon-bicycle-company.png) center center;
}
/* line 81, ../../../dev/css/pages/sections/_work.scss */
.section-work .section-item-logo-vintage-oliva {
  width: 41px;
  height: 30px;
  background: url(../../images/icon-vintage-oliva.png) center center;
}
/* line 87, ../../../dev/css/pages/sections/_work.scss */
.section-work .section-item-bicycle-company-2 {
  background: url(../../images/work-02.jpg) center center;
}
/* line 91, ../../../dev/css/pages/sections/_work.scss */
.section-work .section-item-handcrafted-vintage {
  background: url(../../images/work-03.jpg) center center;
}
/* line 95, ../../../dev/css/pages/sections/_work.scss */
.section-work .section-item-logo-handcrafted-vintage {
  width: 177px;
  height: 152px;
  margin-top: -76px;
  margin-left: -88.5px;
  background: url(../../images/icon-handcrafted-vintage.png) center center;
}
/* line 103, ../../../dev/css/pages/sections/_work.scss */
.section-work .section-item-logo-la-boriosa {
  width: 32px;
  height: 32px;
  background: url(../../images/icon-la-boriosa.png) center center;
}
/* line 109, ../../../dev/css/pages/sections/_work.scss */
.section-work .section-item-handcrafted-vintage-2 {
  background: url(../../images/work-04.jpg) center center;
}
/* line 113, ../../../dev/css/pages/sections/_work.scss */
.section-work .section-item-bicycles-since {
  background: url(../../images/work-05.jpg) center center;
}
/* line 117, ../../../dev/css/pages/sections/_work.scss */
.section-work .section-item-logo-bicycles-since {
  width: 208px;
  height: 67px;
  margin-top: -33.5px;
  margin-left: -104px;
  background: url(../../images/icon-since-bicycles.png) center center;
}
/* line 125, ../../../dev/css/pages/sections/_work.scss */
.section-work .section-item-logo-retro-bike {
  width: 23px;
  height: 41px;
  background: url(../../images/icon-retro-bike.png) center center;
}
/* line 131, ../../../dev/css/pages/sections/_work.scss */
.section-work .section-item-bicycles-since-2 {
  background: url(../../images/work-07.jpg) center center;
}
/* line 135, ../../../dev/css/pages/sections/_work.scss */
.section-work .section-item-bicycles-since-3 {
  background: url(../../images/work-06.jpg) center center;
}
