/* line 5, ../../dev/css/app/base/_reset.scss */
html, body {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

/* line 13, ../../dev/css/app/base/_reset.scss */
html {
  -webkit-text-size-adjust: none;
}

/* line 15, ../../dev/css/app/base/_reset.scss */
article, aside, footer, header, nav, section, figure {
  display: block;
  position: relative;
}

/* line 20, ../../dev/css/app/base/_reset.scss */
img {
  border: none;
  display: block;
}

/* line 25, ../../dev/css/app/base/_reset.scss */
a {
  cursor: pointer;
}

/* line 5, ../../dev/css/theme/base/_reset.scss */
body {
  font-family: "Lato", sans-serif;
}

/* line 6, ../../dev/css/theme/base/_reset.scss */
ul, li, p, figure {
  margin: 0;
  padding: 0;
}

/* line 7, ../../dev/css/theme/base/_reset.scss */
ul {
  list-style: none;
}

/* line 15, ../../dev/css/app/layout/_grids.scss */
.large-1 {
  width: 8.3333333%;
}

/* line 16, ../../dev/css/app/layout/_grids.scss */
.push-large-1 {
  margin-left: 8.3333333%;
}

/* line 17, ../../dev/css/app/layout/_grids.scss */
.pull-large-1 {
  margin-right: 8.3333333%;
}

@media (max-width: 1041px) {
  /* line 20, ../../dev/css/app/layout/_grids.scss */
  .medium-1 {
    width: 8.3333333%;
  }

  /* line 21, ../../dev/css/app/layout/_grids.scss */
  .push-medium-1 {
    margin-left: 8.3333333%;
  }

  /* line 22, ../../dev/css/app/layout/_grids.scss */
  .pull-medium-1 {
    margin-right: 8.3333333%;
  }
}
@media (max-width: 767px) {
  /* line 20, ../../dev/css/app/layout/_grids.scss */
  .small-1 {
    width: 8.3333333%;
  }

  /* line 21, ../../dev/css/app/layout/_grids.scss */
  .push-small-1 {
    margin-left: 8.3333333%;
  }

  /* line 22, ../../dev/css/app/layout/_grids.scss */
  .pull-small-1 {
    margin-right: 8.3333333%;
  }
}
/* line 15, ../../dev/css/app/layout/_grids.scss */
.large-2 {
  width: 16.6666667%;
}

/* line 16, ../../dev/css/app/layout/_grids.scss */
.push-large-2 {
  margin-left: 16.6666667%;
}

/* line 17, ../../dev/css/app/layout/_grids.scss */
.pull-large-2 {
  margin-right: 16.6666667%;
}

@media (max-width: 1041px) {
  /* line 20, ../../dev/css/app/layout/_grids.scss */
  .medium-2 {
    width: 16.6666667%;
  }

  /* line 21, ../../dev/css/app/layout/_grids.scss */
  .push-medium-2 {
    margin-left: 16.6666667%;
  }

  /* line 22, ../../dev/css/app/layout/_grids.scss */
  .pull-medium-2 {
    margin-right: 16.6666667%;
  }
}
@media (max-width: 767px) {
  /* line 20, ../../dev/css/app/layout/_grids.scss */
  .small-2 {
    width: 16.6666667%;
  }

  /* line 21, ../../dev/css/app/layout/_grids.scss */
  .push-small-2 {
    margin-left: 16.6666667%;
  }

  /* line 22, ../../dev/css/app/layout/_grids.scss */
  .pull-small-2 {
    margin-right: 16.6666667%;
  }
}
/* line 15, ../../dev/css/app/layout/_grids.scss */
.large-3 {
  width: 25%;
}

/* line 16, ../../dev/css/app/layout/_grids.scss */
.push-large-3 {
  margin-left: 25%;
}

/* line 17, ../../dev/css/app/layout/_grids.scss */
.pull-large-3 {
  margin-right: 25%;
}

@media (max-width: 1041px) {
  /* line 20, ../../dev/css/app/layout/_grids.scss */
  .medium-3 {
    width: 25%;
  }

  /* line 21, ../../dev/css/app/layout/_grids.scss */
  .push-medium-3 {
    margin-left: 25%;
  }

  /* line 22, ../../dev/css/app/layout/_grids.scss */
  .pull-medium-3 {
    margin-right: 25%;
  }
}
@media (max-width: 767px) {
  /* line 20, ../../dev/css/app/layout/_grids.scss */
  .small-3 {
    width: 25%;
  }

  /* line 21, ../../dev/css/app/layout/_grids.scss */
  .push-small-3 {
    margin-left: 25%;
  }

  /* line 22, ../../dev/css/app/layout/_grids.scss */
  .pull-small-3 {
    margin-right: 25%;
  }
}
/* line 15, ../../dev/css/app/layout/_grids.scss */
.large-4 {
  width: 33.3333333%;
}

/* line 16, ../../dev/css/app/layout/_grids.scss */
.push-large-4 {
  margin-left: 33.3333333%;
}

/* line 17, ../../dev/css/app/layout/_grids.scss */
.pull-large-4 {
  margin-right: 33.3333333%;
}

@media (max-width: 1041px) {
  /* line 20, ../../dev/css/app/layout/_grids.scss */
  .medium-4 {
    width: 33.3333333%;
  }

  /* line 21, ../../dev/css/app/layout/_grids.scss */
  .push-medium-4 {
    margin-left: 33.3333333%;
  }

  /* line 22, ../../dev/css/app/layout/_grids.scss */
  .pull-medium-4 {
    margin-right: 33.3333333%;
  }
}
@media (max-width: 767px) {
  /* line 20, ../../dev/css/app/layout/_grids.scss */
  .small-4 {
    width: 33.3333333%;
  }

  /* line 21, ../../dev/css/app/layout/_grids.scss */
  .push-small-4 {
    margin-left: 33.3333333%;
  }

  /* line 22, ../../dev/css/app/layout/_grids.scss */
  .pull-small-4 {
    margin-right: 33.3333333%;
  }
}
/* line 15, ../../dev/css/app/layout/_grids.scss */
.large-5 {
  width: 41.6666667%;
}

/* line 16, ../../dev/css/app/layout/_grids.scss */
.push-large-5 {
  margin-left: 41.6666667%;
}

/* line 17, ../../dev/css/app/layout/_grids.scss */
.pull-large-5 {
  margin-right: 41.6666667%;
}

@media (max-width: 1041px) {
  /* line 20, ../../dev/css/app/layout/_grids.scss */
  .medium-5 {
    width: 41.6666667%;
  }

  /* line 21, ../../dev/css/app/layout/_grids.scss */
  .push-medium-5 {
    margin-left: 41.6666667%;
  }

  /* line 22, ../../dev/css/app/layout/_grids.scss */
  .pull-medium-5 {
    margin-right: 41.6666667%;
  }
}
@media (max-width: 767px) {
  /* line 20, ../../dev/css/app/layout/_grids.scss */
  .small-5 {
    width: 41.6666667%;
  }

  /* line 21, ../../dev/css/app/layout/_grids.scss */
  .push-small-5 {
    margin-left: 41.6666667%;
  }

  /* line 22, ../../dev/css/app/layout/_grids.scss */
  .pull-small-5 {
    margin-right: 41.6666667%;
  }
}
/* line 15, ../../dev/css/app/layout/_grids.scss */
.large-6 {
  width: 50%;
}

/* line 16, ../../dev/css/app/layout/_grids.scss */
.push-large-6 {
  margin-left: 50%;
}

/* line 17, ../../dev/css/app/layout/_grids.scss */
.pull-large-6 {
  margin-right: 50%;
}

@media (max-width: 1041px) {
  /* line 20, ../../dev/css/app/layout/_grids.scss */
  .medium-6 {
    width: 50%;
  }

  /* line 21, ../../dev/css/app/layout/_grids.scss */
  .push-medium-6 {
    margin-left: 50%;
  }

  /* line 22, ../../dev/css/app/layout/_grids.scss */
  .pull-medium-6 {
    margin-right: 50%;
  }
}
@media (max-width: 767px) {
  /* line 20, ../../dev/css/app/layout/_grids.scss */
  .small-6 {
    width: 50%;
  }

  /* line 21, ../../dev/css/app/layout/_grids.scss */
  .push-small-6 {
    margin-left: 50%;
  }

  /* line 22, ../../dev/css/app/layout/_grids.scss */
  .pull-small-6 {
    margin-right: 50%;
  }
}
/* line 15, ../../dev/css/app/layout/_grids.scss */
.large-7 {
  width: 58.3333333%;
}

/* line 16, ../../dev/css/app/layout/_grids.scss */
.push-large-7 {
  margin-left: 58.3333333%;
}

/* line 17, ../../dev/css/app/layout/_grids.scss */
.pull-large-7 {
  margin-right: 58.3333333%;
}

@media (max-width: 1041px) {
  /* line 20, ../../dev/css/app/layout/_grids.scss */
  .medium-7 {
    width: 58.3333333%;
  }

  /* line 21, ../../dev/css/app/layout/_grids.scss */
  .push-medium-7 {
    margin-left: 58.3333333%;
  }

  /* line 22, ../../dev/css/app/layout/_grids.scss */
  .pull-medium-7 {
    margin-right: 58.3333333%;
  }
}
@media (max-width: 767px) {
  /* line 20, ../../dev/css/app/layout/_grids.scss */
  .small-7 {
    width: 58.3333333%;
  }

  /* line 21, ../../dev/css/app/layout/_grids.scss */
  .push-small-7 {
    margin-left: 58.3333333%;
  }

  /* line 22, ../../dev/css/app/layout/_grids.scss */
  .pull-small-7 {
    margin-right: 58.3333333%;
  }
}
/* line 15, ../../dev/css/app/layout/_grids.scss */
.large-8 {
  width: 66.6666667%;
}

/* line 16, ../../dev/css/app/layout/_grids.scss */
.push-large-8 {
  margin-left: 66.6666667%;
}

/* line 17, ../../dev/css/app/layout/_grids.scss */
.pull-large-8 {
  margin-right: 66.6666667%;
}

@media (max-width: 1041px) {
  /* line 20, ../../dev/css/app/layout/_grids.scss */
  .medium-8 {
    width: 66.6666667%;
  }

  /* line 21, ../../dev/css/app/layout/_grids.scss */
  .push-medium-8 {
    margin-left: 66.6666667%;
  }

  /* line 22, ../../dev/css/app/layout/_grids.scss */
  .pull-medium-8 {
    margin-right: 66.6666667%;
  }
}
@media (max-width: 767px) {
  /* line 20, ../../dev/css/app/layout/_grids.scss */
  .small-8 {
    width: 66.6666667%;
  }

  /* line 21, ../../dev/css/app/layout/_grids.scss */
  .push-small-8 {
    margin-left: 66.6666667%;
  }

  /* line 22, ../../dev/css/app/layout/_grids.scss */
  .pull-small-8 {
    margin-right: 66.6666667%;
  }
}
/* line 15, ../../dev/css/app/layout/_grids.scss */
.large-9 {
  width: 75%;
}

/* line 16, ../../dev/css/app/layout/_grids.scss */
.push-large-9 {
  margin-left: 75%;
}

/* line 17, ../../dev/css/app/layout/_grids.scss */
.pull-large-9 {
  margin-right: 75%;
}

@media (max-width: 1041px) {
  /* line 20, ../../dev/css/app/layout/_grids.scss */
  .medium-9 {
    width: 75%;
  }

  /* line 21, ../../dev/css/app/layout/_grids.scss */
  .push-medium-9 {
    margin-left: 75%;
  }

  /* line 22, ../../dev/css/app/layout/_grids.scss */
  .pull-medium-9 {
    margin-right: 75%;
  }
}
@media (max-width: 767px) {
  /* line 20, ../../dev/css/app/layout/_grids.scss */
  .small-9 {
    width: 75%;
  }

  /* line 21, ../../dev/css/app/layout/_grids.scss */
  .push-small-9 {
    margin-left: 75%;
  }

  /* line 22, ../../dev/css/app/layout/_grids.scss */
  .pull-small-9 {
    margin-right: 75%;
  }
}
/* line 15, ../../dev/css/app/layout/_grids.scss */
.large-10 {
  width: 83.3333333%;
}

/* line 16, ../../dev/css/app/layout/_grids.scss */
.push-large-10 {
  margin-left: 83.3333333%;
}

/* line 17, ../../dev/css/app/layout/_grids.scss */
.pull-large-10 {
  margin-right: 83.3333333%;
}

@media (max-width: 1041px) {
  /* line 20, ../../dev/css/app/layout/_grids.scss */
  .medium-10 {
    width: 83.3333333%;
  }

  /* line 21, ../../dev/css/app/layout/_grids.scss */
  .push-medium-10 {
    margin-left: 83.3333333%;
  }

  /* line 22, ../../dev/css/app/layout/_grids.scss */
  .pull-medium-10 {
    margin-right: 83.3333333%;
  }
}
@media (max-width: 767px) {
  /* line 20, ../../dev/css/app/layout/_grids.scss */
  .small-10 {
    width: 83.3333333%;
  }

  /* line 21, ../../dev/css/app/layout/_grids.scss */
  .push-small-10 {
    margin-left: 83.3333333%;
  }

  /* line 22, ../../dev/css/app/layout/_grids.scss */
  .pull-small-10 {
    margin-right: 83.3333333%;
  }
}
/* line 15, ../../dev/css/app/layout/_grids.scss */
.large-11 {
  width: 91.6666667%;
}

/* line 16, ../../dev/css/app/layout/_grids.scss */
.push-large-11 {
  margin-left: 91.6666667%;
}

/* line 17, ../../dev/css/app/layout/_grids.scss */
.pull-large-11 {
  margin-right: 91.6666667%;
}

@media (max-width: 1041px) {
  /* line 20, ../../dev/css/app/layout/_grids.scss */
  .medium-11 {
    width: 91.6666667%;
  }

  /* line 21, ../../dev/css/app/layout/_grids.scss */
  .push-medium-11 {
    margin-left: 91.6666667%;
  }

  /* line 22, ../../dev/css/app/layout/_grids.scss */
  .pull-medium-11 {
    margin-right: 91.6666667%;
  }
}
@media (max-width: 767px) {
  /* line 20, ../../dev/css/app/layout/_grids.scss */
  .small-11 {
    width: 91.6666667%;
  }

  /* line 21, ../../dev/css/app/layout/_grids.scss */
  .push-small-11 {
    margin-left: 91.6666667%;
  }

  /* line 22, ../../dev/css/app/layout/_grids.scss */
  .pull-small-11 {
    margin-right: 91.6666667%;
  }
}
/* line 15, ../../dev/css/app/layout/_grids.scss */
.large-12 {
  width: 100%;
}

/* line 16, ../../dev/css/app/layout/_grids.scss */
.push-large-12 {
  margin-left: 100%;
}

/* line 17, ../../dev/css/app/layout/_grids.scss */
.pull-large-12 {
  margin-right: 100%;
}

@media (max-width: 1041px) {
  /* line 20, ../../dev/css/app/layout/_grids.scss */
  .medium-12 {
    width: 100%;
  }

  /* line 21, ../../dev/css/app/layout/_grids.scss */
  .push-medium-12 {
    margin-left: 100%;
  }

  /* line 22, ../../dev/css/app/layout/_grids.scss */
  .pull-medium-12 {
    margin-right: 100%;
  }
}
@media (max-width: 767px) {
  /* line 20, ../../dev/css/app/layout/_grids.scss */
  .small-12 {
    width: 100%;
  }

  /* line 21, ../../dev/css/app/layout/_grids.scss */
  .push-small-12 {
    margin-left: 100%;
  }

  /* line 22, ../../dev/css/app/layout/_grids.scss */
  .pull-small-12 {
    margin-right: 100%;
  }
}
/* line 37, ../../dev/css/app/layout/_grids.scss */
.main {
  width: 100%;
}

/* line 41, ../../dev/css/app/layout/_grids.scss */
.row {
  position: relative;
}
/* line 7, /home/whoiskenjackson/Web/github/yebo/dev/css/app/helpers/_clear-fix.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}
/* line 13, /home/whoiskenjackson/Web/github/yebo/dev/css/app/helpers/_clear-fix.scss */
.row:after {
  clear: both;
}

/* line 46, ../../dev/css/app/layout/_grids.scss */
.col {
  position: relative;
  float: left;
}

/* line 51, ../../dev/css/app/layout/_grids.scss */
.pull-right {
  float: right;
}

/* line 55, ../../dev/css/app/layout/_grids.scss */
.pull-left {
  float: left;
}

/* line 59, ../../dev/css/app/layout/_grids.scss */
.pull-center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

/* line 8, ../../dev/css/theme/layout/_header.scss */
.main-navigation {
  position: relative;
  width: 625px;
  padding-top: 70px;
  overflow: visible;
  z-index: 2;
  margin: 0 auto;
}
/* line 17, ../../dev/css/theme/layout/_header.scss */
.main-navigation .menu {
  width: 100%;
  overflow: visible;
  position: relative;
}
/* line 23, ../../dev/css/theme/layout/_header.scss */
.main-navigation .menu-item {
  overflow: visible;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
}
/* line 31, ../../dev/css/theme/layout/_header.scss */
.main-navigation .menu-item-hero {
  width: 94px;
  height: 85px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -47px;
  margin-top: -42.5px;
}
/* line 40, ../../dev/css/theme/layout/_header.scss */
.main-navigation .menu-item-hero a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/logo.png) center center;
  width: 100%;
  height: 100%;
  color: transparent;
  overflow: hidden;
}
/* line 47, ../../dev/css/theme/layout/_header.scss */
.main-navigation .menu-item-hero a:hover {
  width: 100%;
  height: 100%;
  color: transparent;
  overflow: hidden;
}
/* line 51, ../../dev/css/theme/layout/_header.scss */
.main-navigation a {
  display: block;
  color: #4d4959;
  text-align: center;
  text-decoration: none;
}
/* line 57, ../../dev/css/theme/layout/_header.scss */
.main-navigation a:hover {
  color: #64c29e;
}

/* line 5, ../../dev/css/theme/layout/_wrapper.scss */
.section {
  width: 100%;
}

/* line 9, ../../dev/css/theme/layout/_wrapper.scss */
.section-content {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 100px 0 120px;
}
