<section id="{{name}}" class="section section-{{name}} row">
    <div class="section-content">
        <figure class="section-logo"></figure>
        <h2 class="subheadline">{{{headline}}}</h2>
        <p class="copy">{{{copy}}}</p>
    </div>
</section>