<!DOCTYPE html>
<html>
    {{> head pages.home.head}}

    <body>
        <main>
            {{> menu-main pages.home}}

            {{> hero pages.home.sections.hero}}

            {{> about pages.home.sections.about}}

            {{> work pages.home.sections.work}}

            {{> twitter pages.home.sections.twitter}}
            
            {{> shop pages.home.sections.shop}}

            {{> contact pages.home.sections.contact}}

        </main>
    </body>
</html>